h1{
    color: red;
    font-family: 'Courier New', Courier, monospace;
}

body{
    /*
    background-color:#222;
    background-image: url(/assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;*/

    /*BACKGROUND image position repeat /size */

    background: url(/assets/bg-mobile.jpg) no-repeat top center /cover;
}